<div class="account-background">
  <div class="account-container" *ngIf="user">
    <div class="account-header">
      <img
        [src]="getPhotoUrl()"
        (error)="onImageError($event)"
        alt="Profile Photo"
        class="profile-photo"
      />

      <h2>{{ user.name }}</h2>
      <button class="edit-button" *ngIf="!isEditing" (click)="startEditing()">
        {{ 'ACCOUNT.EDIT_PROFILE' | translate }}
      </button>
    </div>

    <div class="account-form">
      <form (ngSubmit)="saveChanges()">
        <div class="form-group">
          <label for="name">{{ 'ACCOUNT.NAME' | translate }}</label>
          <input
            id="name"
            type="text"
            [(ngModel)]="user.name"
            name="name"
            [readonly]="!isEditing"
            [attr.placeholder]="'ACCOUNT.PLACEHOLDER_NAME' | translate"
            required
          />
        </div>

        <div class="form-group">
          <label for="age">{{ 'ACCOUNT.AGE' | translate }}</label>
          <input
            id="age"
            type="number"
            [(ngModel)]="user.age"
            name="age"
            [readonly]="!isEditing"
            [attr.placeholder]="'ACCOUNT.PLACEHOLDER_AGE' | translate"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">{{ 'ACCOUNT.EMAIL' | translate }}</label>
          <input
            id="email"
            type="email"
            [(ngModel)]="user.email"
            name="email"
            [readonly]="!isEditing"
            [attr.placeholder]="'ACCOUNT.PLACEHOLDER_EMAIL' | translate"
            required
          />
        </div>

        <div class="form-group">
          <div class="upload-photo">
            <button
              class="upload-button"
              type="button"
              (click)="triggerFileInput()"
              *ngIf="isEditing"
            >
              {{ 'ACCOUNT.CHOOSE_PHOTO' | translate }}
            </button>
            <input
              #fileInput
              type="file"
              (change)="onFileSelected($event)"
              accept="image/*"
              hidden
            />
          </div>
        </div>

        <button *ngIf="isEditing" type="submit" class="save-button">
          {{ 'ACCOUNT.SAVE_CHANGES' | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
