<header class="hero-section">
  <div class="full-photo-banner">
    <img src="assets/court.jpg" alt="Sport Image" />
  </div>

  <div class="overlay">
    <div class="hero-text">
      <h1>
        {{ 'HOME.HEADER_TITLE1' | translate }}<br>
        <span>{{ 'HOME.HEADER_TITLE2' | translate }}</span>
      </h1>
      <p>{{ 'HOME.HEADER_DESC' | translate }}</p>

      <div class="scroll-btn" (click)="scrollToContent()">
        <span>↓</span>
      </div>
    </div>
  </div>
</header>

<section class="features">
  <h2>{{ 'HOME.FEATURES_TITLE' | translate }}</h2>
  <p>{{ 'HOME.FEATURES_DESC' | translate }}</p>

  <div class="feature-grid">
    <div class="feature-card">
      <i class="icon">🏐</i>
      <h3>{{ 'HOME.FEATURE_COURT_TITLE' | translate }}</h3>
      <p>{{ 'HOME.FEATURE_COURT_DESC' | translate }}</p>
      <button routerLink="/reservations" class="more-btn">{{ 'COMMON.MORE' | translate }}</button>
    </div>
    <div class="feature-card">
      <i class="icon">👤</i>
      <h3>{{ 'HOME.FEATURE_ATHLETE_TITLE' | translate }}</h3>
      <p>{{ 'HOME.FEATURE_ATHLETE_DESC' | translate }}</p>
      <button routerLink="/athletes" class="more-btn">{{ 'COMMON.MORE' | translate }}</button>
    </div>
    <div class="feature-card">
      <i class="icon">📅</i>
      <h3>{{ 'HOME.FEATURE_SCORES_TITLE' | translate }}</h3>
      <p>{{ 'HOME.FEATURE_SCORES_DESC' | translate }}</p>
      <button routerLink="/scores" class="more-btn">{{ 'COMMON.MORE' | translate }}</button>
    </div>
    <div class="feature-card">
      <i class="icon">📊</i>
      <h3>{{ 'HOME.FEATURE_BOARD_TITLE' | translate }}</h3>
      <p>{{ 'HOME.FEATURE_BOARD_DESC' | translate }}</p>
      <button routerLink="/coach-board" class="more-btn">{{ 'COMMON.MORE' | translate }}</button>
    </div>
  </div>
</section>

<section class="highlight">
  <h2>{{ 'HOME.HIGHLIGHT_TITLE' | translate }}</h2>
  <p>{{ 'HOME.HIGHLIGHT_DESC' | translate }}</p>
</section>
